<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расчет</title>
</head>
<body>
<div th:align="center">
    <form th:object="${greetingsMessage}">
        <h2 th:text="${greetingsMessage}"></h2>
    </form>

    <h3>Внесите данные для подсчета</h3>
</div>

<div th:align="center">
    <form name="calculation" action="#" th:action="@{/trucks/measure/created}" th:method="post">
        <select name="truckId">
            <option th:each="truck : ${truckList}"
                    th:value="${truck.id}"
                    th:text="${truck.truckNumber}"></option>
        </select>
        <br>
        <label for="front">Манометр Тягача: </label>
        <input id="front" type="text" th:field="${measure.frontBar}">
        <br>
        <label for="rear">Манометр прицепа</label>
        <input id="rear" type="text" th:field="${measure.rearBar}">

        <input type="submit" value="Посчитать"></form>
</div>
</body>
</html>