<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание ТС</title>
    <meta charset="UTF-8">
</head>

<body>



<a th:href="@{measure}">измерения-а-а-а-а</a>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Рег. номер</th>
        <th>Тягач</th>
        <th>Прицеп</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="truck, iterStat : ${truckList}">
        <td th:text="${truck.getTruckNumber()}"></td>
        <td th:text="${truck.getFrontPrice()}"></td>
        <td th:text="${truck.getRearPrice()}"></td>
    </tr>


    </tbody>
</table>

</body>
</html>